# k8s yaml based on those found at https://docs.atuin.sh/cli/self-hosting/kubernetes/
---
apiVersion: v1
kind: Secret
metadata:
  name: atuin-secrets
type: Opaque
stringData:
  # uri includes the password
  ATUIN_DB_URI: "{{ atuin_db_uri }}"
immutable: true    
    
---   
# for config only. was atuin-claim0
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: atuin-pvc
spec:
  storageClassName: "{{ kube_storageclass_atuin }}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Mi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: atuin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: atuin-web
  template:
    metadata:
      labels:
        app: atuin-web
    spec:
      containers:
        - name: atuin
          image: ghcr.io/atuinsh/atuin:latest
          imagePullPolicy: Always
          # needed to resolve bnesql02 from within the container. Note that 'Default' isn't the default, 'ClusterFirst' is
          dnsPolicy: Default
          ports:
            - containerPort: 8888
          args:
            - server
            - start
          env:
            - name: ATUIN_DB_URI
              valueFrom:
                secretKeyRef:
                  name: atuin-secrets
                  key: ATUIN_DB_URI
                  optional: false
            - name: ATUIN_HOST
              value: 0.0.0.0
            - name: ATUIN_PORT
              value: "8888"
            - name: ATUIN_OPEN_REGISTRATION
              value: "true"
          resources:
            limits:
              cpu: 250m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 1Gi
          volumeMounts:
            - mountPath: /config
              name: config
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: atuin-pvc        

---
# atuin docs use a NodePort + ClusterIP service, I'll stick to LoadBalancer
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector:
    app: atuin-web
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: LoadBalancer
---

---    
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata: 
  name: atuin-tls-secret
data: 
  tls.crt: "{{ atuin_tls_secret_cert }}"
  tls.key: "{{ atuin_tls_secret_key }}"

---
# ingress_sample.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: atuin-web-ingress
  # namespace: atuin
  annotations:
    kubernetes.io/ingress.class: "nginx"  
spec:
  tls:
    - hosts:
        - {{ atuin_ingress_host }}
      secretName: atuin-tls-secret    
  rules:
  - host: {{ atuin_ingress_host }}
    http:
      paths:
      - path: "/"
        pathType: Prefix
        backend:
          service:
            name: "web"
            port:
              number: 8888    

