q#/usr/bin/env
#
# . vault-login.sh

export VAULT_ADDR=http://the-vault-server:8200
export VAULT_TOKEN=$(vault write -format=json auth/approle/login role_id="...the-role-id..." secret_id="...the-secret-id..." | jq -r .auth.client_token)