---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-pvc
spec:
  storageClassName: "{{ kube_storageclass_gitlab }}"  
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ gitlab_volume_size_gb }}Gi"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitlab
  template:
    metadata:
      labels:
        app: gitlab
    spec:
      # this is needed to resolve github.com from within the container. Note that 'Default' isn't the default, 'ClusterFirst' is
      # because of course it is.
      dnsPolicy: Default
      containers:
        - name: gitlab
          # heap of upgrades on 2025-01-03, need to do these in sequence
          # next time I do this, remember to check https://gitlab.dev.randomnoun/admin/background_migrations
          # on each step and wait for migration jobs to complete before continuing
          
          # to perform backups:
          # $ kubectl -n dev-gitlab get pods
          # $ kubectl -n dev-gitlab exec -it gitlab-7657d77c65-z22jc -- /bin/bash
          # # gitlab-backup create
          
          # image: gitlab/gitlab-ce:14.9.3-ce.0
          # image: gitlab/gitlab-ce:14.10.5-ce.0
          # image: gitlab/gitlab-ce:15.1.6-ce.0
          # image: gitlab/gitlab-ce:15.4.6-ce.0
          # image: gitlab/gitlab-ce:15.11.13-ce.0
          # image: gitlab/gitlab-ce:16.0.10-ce.0
          # image: gitlab/gitlab-ce:16.1.8-ce.0
          # image: gitlab/gitlab-ce:16.2.11-ce.0
          # image: gitlab/gitlab-ce:16.3.8-ce.0
          # image: gitlab/gitlab-ce:16.7.10-ce.0
          # image: gitlab/gitlab-ce:16.11.10-ce.0
          # image: gitlab/gitlab-ce:17.1.8-ce.0
          # image: gitlab/gitlab-ce:17.3.7-ce.0
          image: gitlab/gitlab-ce:17.5.4-ce.0
          
          
          # if it breaks, uncomment to manually run commands in container
          # see https://forum.gitlab.com/t/gitlab-ctl-reconfigure-doesnt-work-after-gitlab-omnibus-updated/68715/2
          #command: ["/bin/sh"]
          #args: ["-c", "tail -f /dev/null"]
          #securityContext:
          #  privileged: true

          # then use this to reset
          #command: null
          #args: null          
          #securityContext: null
          resources:
            # memory minimum and maximum. they couldn't call it that though. oh no. requests and limits it is.
            # in k8s, G = power of 10, Gi = power of 2. rather than using 'GB' like everyone else.
            # incidentally, the reason the 80386 added support for virtual memory in 1985 was so that we didn't have to do this sort of thing
            # still, great to see windows 1.0 era .PIF files have a revival 
            requests:
              memory: "2Gi"          
            limits:
              memory: "5Gi"
          env:
            - name: GITLAB_OMNIBUS_CONFIG
              value: |
                external_url "http://{{ gitlab_ingress_host }}";
                gitlab_rails['gitlab_host'] = '{{ gitlab_ingress_host }}';
                gitlab_rails['gitlab_shell_ssh_port'] = 2222;
                gitlab_rails['smtp_enable'] = true;
                gitlab_rails['smtp_address'] = "{{ gitlab_smtp_host }}";
                gitlab_rails['smtp_port'] = {{ gitlab_smtp_port }};
                gitlab_rails['smtp_user_name'] = "{{ gitlab_smtp_username }}";
                gitlab_rails['smtp_password'] = "{{ gitlab_smtp_password }}";
                gitlab_rails['smtp_domain'] = "jacobistrategies.com";
                gitlab_rails['smtp_authentication'] = "login";
                gitlab_rails['smtp_enable_starttls_auto'] = "true";
                gitlab_rails['gitlab_email_from'] = 'gitlab@jacobistrategies.com';
                gitlab_rails['gitlab_email_reply_to'] = 'noreply@jacobistrategies.com';
                gitlab_rails['gitlab_email_display_name'] = "GitLab";
                nginx['listen_port'] = 80;
                nginx['listen_https'] = false;
                prometheus['enable'] = false;
                node_exporter['enable'] = false;
                redis_exporter['enable'] = false;
          ports:
            - name: http
              containerPort: 80
            - name: ssh
              containerPort: 22
            - name: git-ssh
              containerPort: 2222
          volumeMounts:
            - name: gitlab-volume
              subPath: config
              mountPath: "/etc/gitlab"
            - name: gitlab-volume
              subPath: logs
              mountPath: "/var/log/gitlab"
            - name: gitlab-volume
              subPath: data
              mountPath: "/var/opt/gitlab"
#          livenessProbe:
#            failureThreshold: 3
#            initialDelaySeconds: 300
#            periodSeconds: 5
#            successThreshold: 1
#            timeoutSeconds: 10
#            httpGet:
#              path: /help
#              port: 80
#              scheme: HTTP
      volumes:
        - name: gitlab-volume
          persistentVolumeClaim:
            claimName: "gitlab-pvc"



---
apiVersion: v1
kind: Service
metadata:
  name: gitlab-service
spec:
  ports:
    - name: http
      port: 80
    - name: ssh
      port: 22
      targetPort: 22
    - name: git-ssh
      port: 2222
      targetPort: 2222
  selector:
    app: gitlab

---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata: 
  name: gitlab-tls-secret
data: 
  tls.crt: "{{ gitlab_tls_secret_cert }}"
  tls.key: "{{ gitlab_tls_secret_key }}"

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitlab-ingress
  annotations:
# OK, so it's the annotations at https://docs.nginx.com/nginx-ingress-controller/configuration/ingress-resources/advanced-configuration-with-annotations/
# not the annotations at https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/  
    kubernetes.io/ingress.class: "nginx"
    nginx.org/client-max-body-size: "0"
    # both of these are required to disable the http->https redirect
    nginx.org/redirect-to-https: "false"
    ingress.kubernetes.io/ssl-redirect: "false"

spec:
  tls:
    - hosts:
        - {{ gitlab_ingress_host }}
      secretName: gitlab-tls-secret
  rules:
    - host: {{ gitlab_ingress_host }}
      http:
        paths:
          - pathType: Prefix
            path: /
            backend:
              service:
                name: gitlab-service
                port:
                  name: http  
